.location-picker {
  svg {
    color: #999;
    cursor: pointer;
    margin-right: 0.5rem;

    &:hover {
      color: #004dff;
      transition: color 0.4s ease;
    }
  }

  &--error {
    background-color: #ffa6a6;
    border-radius: 0.2rem;
    padding: 0.5rem;
  }
}
